<div *ngIf="participant">
  <h2>{{ participant.name }}'s Wishlist</h2>

  <table *ngIf="participant.wishlist && participant.wishlist.length > 0">
    <thead>
      <tr>
        <th>Wish List Item</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of participant.wishlist">
        <td>{{ entry.link }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!participant.wishlist || participant.wishlist.length === 0">
    No wishlist items found.
  </p>
</div>

<div *ngIf="!participant">
  <p>Loading wishlist...</p>
</div>
