@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('./assets/bg.png');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
