<div class="outer-container">
  <!-- Inner div with form and styling -->
  <div class="inner-container">
    <div>
      <a [routerLink]="['/main', eventId]"> Back to Event </a>
    </div>
    <div *ngIf="!isSelf">
      <button (click)="toggleSelf()">This is me</button>
    </div>
    <div *ngIf="participant">
      <h3 *ngIf="!isAuthorized && participant.passwordIsSet && isSelf">
        <input type="password" [(ngModel)]="password" placeholder="Password" />
        <button (click)="login()">Login</button>
      </h3>

      <div *ngIf="isSelf">
        <h2>Hello, {{ participant.name }}!</h2>
        <h3 *ngIf="assignment">
          <a [routerLink]="['/participant', eventId, assignment.name]">
            Your assigned to: {{ assignment.name }}</a
          >
        </h3>
        <!-- Password Prompt -->
        <div>
          <div *ngIf="!participant.passwordIsSet">
            <h3>Create a New Password</h3>

            <input
              type="password"
              [(ngModel)]="password"
              placeholder="Password"
            />
            <button
              *ngIf="!participant.passwordIsSet"
              (click)="updatePassword()"
            >
              Set Password
            </button>
          </div>
          <button *ngIf="isAuthorized" (click)="getParticipantAssignment()">
            Show Assignment
          </button>
        </div>
      </div>
      <div>
        <app-wish-list
          [eventId]="eventId"
          [participantId]="participant.name"
          [isAuthorized]="isAuthorized"
          [password]="password"
        ></app-wish-list>
      </div>
    </div>
  </div>
</div>
