<!-- Outer div with flex styling to center content -->
<div class="outer-container">
  <!-- Inner div with form and styling -->
  <div class="inner-container">
    <form *ngIf="isNew()" [formGroup]="secretSantaFormGroup" class="unified-form">
      <!-- Event Name -->
      <div class="form-section">
        <mat-form-field>
          <input
            matInput
            placeholder="Event Name"
            formControlName="eventName"
            required
          />
        </mat-form-field>
      </div>

      <!-- Add Participant -->
      <div class="form-section participant-section">
        <div class="add-participant-input">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Participant's Name"
              formControlName="participantName"
            />
          </mat-form-field>
          <br />
          <button
            mat-raised-button
            (click)="addParticipant()"
            color="accent"
            type="button"
          >
            Add Participant
          </button>
        </div>
        <div class="participants-list">
          <ul>
            <li
              *ngFor="
                let participantFormGroup of participantsFormArray.controls;
                let i = index
              "
            >
              <div class="participant-item">
                <span class="participant-name">{{
                  participantFormGroup.get("name")!.value
                }}</span>
                <button
                  mat-button
                  (click)="removeParticipant(i)"
                  class="remove-button"
                  color="warn"
                  type="button"
                >
                  Remove
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Event Details -->
      <div class="form-section">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Date of Gift Exchange"
            formControlName="eventDate"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-section">
        <mat-form-field>
          <input
            matInput
            placeholder="Location of the Event"
            formControlName="eventLocation"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-section">
        <mat-form-field>
          <input
            matInput
            type="number"
            placeholder="Dollar Amount Limit"
            formControlName="dollarLimit"
            required
          />
        </mat-form-field>
      </div>


      <div class="submit-button-container">
        <button
          mat-raised-button
          (click)="submit()"
          class="submit-button"
          type="button"
        >
          Submit
          <img
            src="../../../assets/hat.png"
            alt="Santa Hat"
            class="hat-image"
          />
        </button>
      </div>
    </form>

    <div *ngIf="event">
      <h2>{{ event.eventName }}</h2>
      <p>Date: {{ event.eventDate }}</p>
      <p>Location: {{ event.eventLocation }}</p>
      <p>Max Dollar Amount: {{ event.dollarLimit }}</p>
      <h3>Participants:</h3>
      <ul>
        <li *ngFor="let participant of event.participants">
          <a [routerLink]="['/participant', event.id, participant.name]">{{
            participant.name
          }}</a>
        </li>
      </ul>
      <hr />
      <h2>Qr Code For Sharing</h2>
      <qr-code
        *ngIf="this.event !== null"
        value="{{ this.event.qrCodeUrl }}"
        size="300"
        errorCorrectionLevel="M"
      ></qr-code>
    </div>
  </div>
</div>
