<!-- Outer div with flex styling to center content -->
<div class="outer-container">
  <!-- Inner div with form and styling -->
  <div class="inner-container">

    <div id="regularForm" *ngIf="this.isNew() && this.form === -1">
      <form [formGroup]="eventNameFormGroup" class="regular-form">

        <!-- Secret Santa Event Name -->
        <h3>Event Name</h3>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Secret Santa Event Name"
            formControlName="eventName"
            required
          />
        </mat-form-field>

        <!-- Add Participants -->
        <h3>Add Participants</h3>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Participant's Name"
            formControlName="participantName"
          />
        </mat-form-field>
        <button mat-button (click)="addParticipant()">Add</button>

        <!-- Displaying List of Participants with Owner Selection -->
        <div *ngFor="let participant of participants; let i = index">
          {{ participant.name }}
          <mat-radio-group
            aria-label="Select an owner"
            formControlName="eventOwner"
          >
            <mat-radio-button [value]="participant.name">Owner</mat-radio-button>
          </mat-radio-group>
        </div>

        <!-- Event Details -->
        <h3>Event Details</h3>
        <mat-form-field class="full-width">
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Date of Gift Exchange"
            formControlName="eventDate"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Location of the Event"
            formControlName="eventLocation"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
          <input
            matInput
            type="number"
            placeholder="Dollar Amount Limit"
            formControlName="dollarLimit"
            required
          />
        </mat-form-field>

        <!-- Review and Submit -->
        <h3>Review Your Information:</h3>
        <p>
          <b>Event Name:</b> {{ eventNameFormGroup.get('eventName')?.value }}
        </p>
        <p><b>Participants:</b> {{ participants | json }}</p>
        <p>
          <b>Date of Gift Exchange:</b>
          {{ eventDetailsFormGroup.get('eventDate')?.value }}
        </p>
        <p>
          <b>Location:</b>
          {{ eventDetailsFormGroup.get('eventLocation')?.value }}
        </p>
        <p>
          <b>Dollar Limit:</b>
          {{ eventDetailsFormGroup.get('dollarLimit')?.value }}
        </p>

        <button mat-button (click)="submit()">Submit</button>

      </form>
    </div>

    <mat-horizontal-stepper [linear]="true" #stepper *ngIf="this.isNew() && this.form === 1">
      <!-- Step 1: Secret Santa Event Name -->
      <mat-step [stepControl]="eventNameFormGroup">
        <form [formGroup]="eventNameFormGroup" class="stepper-form">
          <ng-template matStepLabel>Event Name</ng-template>

          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Secret Santa Event Name"
              formControlName="eventName"
              required
            />
          </mat-form-field>

          <button mat-button matStepperNext>Next</button>
        </form>
      </mat-step>

      <!-- Step 2: Add Participants -->
      <mat-step [stepControl]="participantsFormGroup">
        <form [formGroup]="participantsFormGroup" class="stepper-form">
          <ng-template matStepLabel>Add Participants</ng-template>

          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Participant's Name"
              formControlName="participantName"
            />
          </mat-form-field>
          <button mat-button (click)="addParticipant()">Add</button>

          <!-- Displaying List of Participants with Owner Selection -->
          <div *ngFor="let participant of participants; let i = index">
            {{ participant.name }}
            <mat-radio-group
              aria-label="Select an owner"
              formControlName="eventOwner"
            >
              <mat-radio-button [value]="participant.name"
                >Owner</mat-radio-button
              >
            </mat-radio-group>
          </div>

          <button mat-button matStepperNext>Next</button>
        </form>
      </mat-step>

      <!-- Step 3: Event Details -->
      <mat-step
        [stepControl]="eventDetailsFormGroup"
        style="justify-content: center"
      >
        <form
          [formGroup]="eventDetailsFormGroup"
          class="stepper-form"
          style="justify-content: center"
        >
          <ng-template matStepLabel>Event Details</ng-template>

          <mat-form-field class="full-width">
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Date of Gift Exchange"
              formControlName="eventDate"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br />
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Location of the Event"
              formControlName="eventLocation"
              required
            />
          </mat-form-field>
          <br />
          <mat-form-field class="full-width">
            <input
              matInput
              type="number"
              placeholder="Dollar Amount Limit"
              formControlName="dollarLimit"
              required
            />
          </mat-form-field>

          <button mat-button matStepperNext>Next</button>
        </form>
      </mat-step>

      <!-- Step 4: Review and Submit -->
      <mat-step>
        <form class="stepper-form">
          <ng-template matStepLabel>Review and Submit</ng-template>

          <!-- Review Information -->
          <h3>Review Your Information:</h3>
          <p>
            <b>Event Name:</b> {{ eventNameFormGroup.get("eventName")?.value }}
          </p>
          <p><b>Participants:</b> {{ participants | json }}</p>
          <p>
            <b>Date of Gift Exchange:</b>
            {{ eventDetailsFormGroup.get("eventDate")?.value }}
          </p>
          <p>
            <b>Location:</b>
            {{ eventDetailsFormGroup.get("eventLocation")?.value }}
          </p>
          <p>
            <b>Dollar Limit:</b>
            {{ eventDetailsFormGroup.get("dollarLimit")?.value }}
          </p>

          <button mat-button (click)="submit()">Submit</button>

        </form>
      </mat-step>
    </mat-horizontal-stepper>

    <div *ngIf="event">
      <h2>{{ event.eventName }}</h2>
      <p>Date: {{ event.eventDate }}</p>
      <p>Location: {{ event.eventLocation }}</p>
      <p>Max Dollar Amount: {{ event.dollarLimit }}</p>
      <h3>Participants:</h3>
      <ul>
        <li *ngFor="let participant of event.participants">
          <a [routerLink]="['/participant', event.id, participant.name]">{{
            participant.name
          }}</a>
        </li>
      </ul>
      <qr-code
            *ngIf="this.newId !== null"
            value="{{ this.qrCodeUrl }}"
            size="300"
            errorCorrectionLevel="M"
          ></qr-code>
    </div>
  </div>
</div>
