
.outer-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 3vh;
  padding-left: 46vh;
  padding-right: 46vh;
}

/* Styles for the inner container */
.inner-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;

  padding: 3vh;
}

.submit-button{
  position: relative;
  height: 5vh;
  width: 19vh
}
.form-section{
  margin: 1vh;
}
.form-section mat-form-field {
  width: 100%;
}
.form-section button {
  margin: 1vh;
}
.submit-button-container{
  display: flex;
  align-items: center;
  justify-content: center
}
.submit-button::after {
  content: ''; /* Required for pseudo-elements */
  position: absolute; /* Position relative to the button */
  top: 0;
  right: 0;
  width: 25%; /* Adjust size as needed */
  height: 25%; /* Adjust size as needed */
  background: url('/path/to/hat.png') no-repeat; /* Use the correct path to your image */
  background-size: contain; /* Make the image fit the container */
  transform: translate(50%, -50%); /* Adjust the position to float over the corner */
}

.submit-button .hat-image {
  position: absolute; /* Position relative to the button */
  top: 0;
  right: 0;
  width: 55%; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  transform: translate(280%, -110%);
}

.participant-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.add-participant-input {
  flex-grow: 1;
}

.participants-list {
  flex-grow: 1;
  margin-left: 0; /* Adjust as necessary for spacing */
  border-left: .5px solid rgb(146, 159, 168);
  border-radius: 2px;
  font-size: large;
  padding: 5px;
}

.participant-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.participant-name {
  flex-grow: 1; /* Allows the name to take up as much space as possible */
}

/* You may want to style the list as well */
.participants-list ul {
  list-style-type: none;
  padding: 0;
}

.participants-list li {
  margin-bottom: 2px; /* Spacing between list items */
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .outer-container {
    padding-left: 5vh; /* Less padding on the sides for smaller screens */
    padding-right: 5vh;
  }



  .submit-button::after,
  .submit-button .hat-image {
    width: 20%; /* Smaller hat image on mobile */
    transform: translate(50%, -50%) rotate(20deg); /* Adjust translate values if necessary */
  }

  .participant-section {
    flex-direction: column; /* Stack input and list on top of each other */
  }

  .add-participant-input,
  .participants-list {
    width: 100%; /* Full width on smaller screens */
    margin-left: 0;
  }

  .participant-item {
    flex-direction: row; /* Keep name and remove button in a row */
  }

  .participants-list ul {
    padding: 0;
  }

  .participants-list li {
    margin-bottom: 10px; /* Spacing between list items */
  }
}
